<P> Hi there</P>

<div id="content"></div>

    <script type="text/jsx">
    
        var BuckysComponent = React.createClass({
            render: function() {
                return (
                        <h2>Hi there React JS</h2>
                );
            }
        });

        React.render(<BuckysComponent />, document.getElementById('content'));

    </script>